# Ignore environment variables
.env
*.env

.emv 
*.emv

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
env/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore plots and temp output
output_plot.png

# Ignore reports generated automatically
reports/*.pdf
reports/*.txt

# Ignore Anaconda auto folder
anaconda_projects/
